# Node / Expo
node_modules/
.expo/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android / Gradle
.gradle/
build/
app/build/
local.properties

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Build outputs
*.apk
*.aab
